.LoginForm {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.input {
    margin-top: 10px;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: end;
}

.loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
