.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border-radius: 4px;
    
    transform: scale(0.5);
    max-width: 60%;
}

.titleWrapper {
    cursor: grab;
    background: var(--secondary-color);
    border-radius: 4px;
    padding: 4px;
}

.content {
    padding: 20px;
    background: var(--bg-color);
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .wrapper {
        transform: scale(1);
    }
}

.isClosing {
    .wrapper {
        transform: scale(0.2);
    }
}
