.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--bg-color-inverted);

    position: relative;
    transition: width 0.3s;
}

.switches {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 24px;
}

.navItems {
    margin-top: 40px;
    margin-left: 30px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switches {
        flex-direction: column;
    }
}

.svgMenu {
    fill: var(--secondary-color)
}
