.link {
    margin-left: 10px;
    width: 80px;

    & > * {
        color: var(--primary-color-inverted);
    }
}

.icon {
    fill: var(--primary-color-inverted);
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 32px;
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0 opacity;
        width: 0;
    }
}
