.panel {
    background: var(--card-bg);
    position: absolute;
    z-index: 100;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 15px;
}
