.app.dark {
    --bg-color: #183537;
    --bg-color-inverted: #b8e1e5;

    --primary-color: #049604;
    --secondary-color: #04ff04;

    --primary-color-inverted: #0232c2;
    --secondary-color-inverted: #0449e0;
}
