.app.dark {
    --bg-color: #3b6365;
    --bg-color-inverted: #0b4444;

    --primary-color: #4ea94e;
    --secondary-color: #2fa62f;

    --primary-color-inverted: #435186;
    --secondary-color-inverted: #274180;

    --code-bg: #336657;
}
