:root {
    --bg-color: #b7e1e4;
    --bg-color-inverted: #edf8f8;

    --primary-color: #049604;
    --secondary-color: #04ff04;

    --primary-color-inverted: #0232c2;
    --secondary-color-inverted: #0449e0;
}
