.app.main {
    --bg-color: #409998;
    --bg-color-inverted: #f4fbfb;

    --primary-color: #f4fbfb;
    --secondary-color: #357e52;

    --primary-color-inverted: #357e52;
    --secondary-color-inverted: #f4fbfb;
}
