.app.light {
    --bg-color: #edf8f8;
    --bg-color-inverted: #b7e1e4;

    --primary-color: #0232c2;
    --secondary-color: #2469ff;

    --primary-color-inverted: #049604;
    --secondary-color-inverted: #04ff04;
}
