.CommentItem {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text {
    margin-top: 10px;
}

.username {
    margin-left: 10px;
}
