.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color-inverted);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.appName {
    margin-right: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}
