.StarRating {

}

.star {
    fill: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hovered {
    fill: var(--primary-color);
}

.selected {
    cursor: auto;
}
