.popup {
    position: relative;
}

.trigger {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.active {
    background: var(--primary-color-inverted);
}

.disabled {
    opacity: 0.7;
}

.readonly {
    opacity: 0.4;
}

.optionTopRight {
    bottom: 100%;
    left: 0;
}

.optionTopLeft {
    bottom: 100%;
    right: 0;
}

.optionBottomRight {
    top: 100%;
    left: 0;
}

.optionBottomLeft {
    top: 100%;
    right: 0;
}
