.ProfileCard {
    padding: 20px;
    width: 100%;
    border: 3px solid var(--bg-color-inverted);
}

.editBtn {
    margin-left: auto;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.PhotoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.editing {
    border: 3px solid var(--primary-color-inverted);
}
